
.body{
  margin: 0;
  width: 100vw;
}

.calendar {
    width: 100%;
    margin: 0;
    font-size: 13px;
  }
  
  .calendar tr, .calendar td {
    border: 2px solid lightblue;
  }
  
  .calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: whitesmoke;
  }
  
  .calendar td {
    width: 12.5em;
    height: 9.375em;
    padding: 20px 0px 0px 5px;
    position: relative;
  }
  
  #month-name {
    display: flex;
    justify-content: center;
  }


  #month-name h3{
    align-self: center;
    flex-grow: 4;
  }
  
  .date a {
    font-size: 1rem;
  }
  
  ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
  }
  


.comment-list{
  position: absolute;
  top: 0;
  right: 0;
}

.day_num {
  position: absolute;
  top: 5px;
  left: 0;
}

.appoint-list-container{
  margin-top: 1.5em;
}

.comment:hover{
  color: #000;
}


li {
  list-style: none;
  font-size: 1.3em;
}

.link-container{
  display: flex;
  justify-content: space-between;
}

#next-pre-c{
  display: flex;
  justify-content: space-between;
}