

:root{
    --clr-primary-200: #082032;;
    --clr-primary-400: #823936;
    --clr-light: #EEEEEE;
    --clr-nuetral-100: #FFF;
    --clr-neutral-900: #1c1f1e;
   
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', sans-serif;
}


body {
    background-color: whitesmoke;
    scroll-behavior: smooth;
    margin: 0;
}



p {
font-family: 'Poppins', sans-serif;

}



.f {
    width: 50%;
    margin: auto;
}




a {
    color: black;
}


.row {
    margin: auto;
}

.t-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.t-container table{
    height: 30vh;
}

.c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-c{
    margin-top: 20vh;
}

.next-l,.nav-c{
    display: flex;
    justify-content: center;
}

.nav-c{
    display: flex;
    justify-content: space-between;
}

.next-l{
    width: 100%;
}

