
body, html {
    max-width: 100vw;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.ani-con {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 3vh;
}

#walk-container {
    margin-top: 0;
    position: absolute;
    height: 200px;
    width: 10em;
    left: 0;
    animation: stroll 30s linear infinite;
    /* z-index: 1; */

}
#walk-container > div {
    width: 100%;
    height: 200px;
    background-image: url('/static/images/walk-sequence.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#walk-container > div {
    background-size: 800%;
}

.walk {
    animation: walkanim 1.0s infinite steps(7);
}

@keyframes walkanim {
    to { background-position: 100% 0; }
}

/* @keyframes stroll {
    from { transform: translateX(-100%); }
    to { transform: translateX(500%); }
  } */



.stand {
    height: 4em;
    background-color: black;
    width: 20%;
}

.stand-bottom {
    height: 1em;
    background-color: black;
    width: 40%;
}


video {
    border: 2em solid;
    border-radius: 1em;
    width: 80%;
}

@media screen and (max-width: 600px) {
    .stand, .stand-bottom {
        display: none;
    }
    video {
        border: 1em solid;
        border-radius: 1em;
        width: 80%;
    }
  }
/* #overlay {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;

    color: black;
  } */

#overlay h1 {
    position: absolute;
    left: 15vw;
    top: 40vh;
}

.contact-contact{
    height: 10vh;
}

/* .card-home{
    max-width: 40vw;
} */

.container{
    height: 60vh;
    display: flex;
}


.row {
    margin: auto;
    margin-top: 10vh;

}


.container .card {
    min-width: 50vw; 
    max-height: 50vh;
}

p {
    font-size: 1.2vw;
    line-height: 2;
}

.card img {
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .card-text {
        font-size: 3vw;
        min-height: 18vh;

    }
}

@media only screen and (min-width: 800px) {
    .card-text {
        min-height: 40vh;
    }
}

@keyframes mymove {
    50% {transform: rotate(180deg);}
  }

#animation {
    transition: 3s;
}

#animation:hover {
    transition: 3s;
    animation: mymove 3s;
}