@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body, html {
    max-width: 100vw;
    text-align: center;
}

header, #ani-con, #header-container, #walk-container, #overlay {
    display: flex;
}

header, #header-container, #header-con, #walk-container, #overlay {
    align-items: center;
}

header, #header-container, #walk-container, #header-con, #overlay {
    flex-direction: column;
}

header, #hand-container>div, #truck-container, #con, 
#top, #myVideoCon {
    position: relative;
}

header {
    background: rgba(0, 0, 0, 0.095);
}

#overlay, #walk-container, #hand-container, #hand, #top::before, #myVideoCon::before, #myVideoCon.show::after {
    position: absolute;
    
}

#overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: snow;
    width: 80%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 5em;
    text-align: left;
    height: 10em;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 2px 2px 7px black;
}

#overlay h1 {
    font-size: 1em;
}

#overlay span {
    text-decoration: underline darkblue;
}

.sign-up-a {
    font-size: 60%;
    position: relative;
}

#top {
    background-image: url(/static/images/iceland.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-width: 100%;
    height: 100vh;
}

#myVideoCon::before {
    z-index: -1;
}

#top::after {
    content: '';
    background: rgba(0, 0, 0, 0.095);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

main div {
    margin: 10px;
    margin-top: 20px;
}

.card {
    font-size: 1.5em;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-group {
    text-align: left;
    font-weight: 400;
}
.list-group  li{
    font-weight: bolder;
}

#walk-container, #ani-con {
    justify-content: space-between;
    
}

#ani-con {
    margin-bottom: 3vh;
    width: 100%;
}


#ani-con h3 {
    align-self: center;
    color: black;
    font-size: 3em;
    font-family: 'Architects Daughter', cursive;
}

#ani-con h3>span {
    color: blue;
    text-decoration: underline;
}

#tv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-column:span 2;
    background: cyan;
}

#tv > * {
    margin: 0;
}

.tree {
    width: 20%;
}

.cloud {
    height: 5vh;
    margin-top: 1vh;
}

#walk-container {
    width: 10em;
    left: 0;
    bottom: 0;
    margin: 0;
}


#hand-container{
    font-size: 2em;
    color: darkblue;
    top: 50px;
    text-align: left;
    width: 288px;
    height: 25vh;
}

#hand-container>div{
    height: 100%;
}

@keyframes up-and-down {
    0%{top: 0;}
    50%{top: 80%;}
    100%{top: 0;}
}

#hand {
    font-size: 4em;
    left: 60px;
    animation: up-and-down 3s infinite;
}

#truck {
    font-size: 5em;
    color: red;
}


#truck-container {
    width: 100%;
    max-height: 5vh;
}


#con {
    width: 100%;
    height: 10em;
}

#myVideoCon {
    border: 2em solid white;
    border-radius: 1em;
    width: 60%;
    z-index: 1;
}

#myVideoCon::before {
    z-index: -1;
}

#myVideoCon::before, #myVideoCon.show::after  {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: #000;
    background-color: black;
}
.stand {
    height: 4em;
    background-color: white;
    width: 20%;
}

.stand-bottom {
    height: 1em;
    background-color: white;
    width: 40%;
    text-align: center;
}
.stand, .stand-bottom, #myVideoCon {
    box-shadow: 5px 10px 50px #888888;
}

video {
    width: 100%;
}

@keyframes change-color {
    from {color: red;}
    to {color: chartreuse;}
}

#btn-hand {
    animation: change-color 5s infinite;
}

@media screen and (max-width: 600px) {
    @keyframes up-and-down {
        0%{top: 0;}
        50%{top: 60%;}
        100%{top: 0;}
    }

    main {
        grid-template-columns: repeat(1, 1fr);
    }

    #ani-con {
        width: 90vw;
    }

    #hand {
        left: 20px;
    }


    #ani-con h3 {
        align-self: center;
        color: black;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.2em;
        font-family: 'Architects Daughter', cursive;
    }
    
    #walk-container {
        height: 60%;
        width: 5em;
    }

    .tree {
        width: 20%;
    }

    #truck {
        font-size: 2em;
    }
    #hand {
        font-size: 1em;
    }

    #overlay {
        font-size: 3em;
    }

  }


.card-contact{
    background-color: white;
    /* border: 3px solid darkblue; */
    font-weight: bold;
    box-shadow: 1px 1px 12px;
}

.contact-home{
    margin-top: 10vh;
    text-align: center;
}

input[type], textarea[name=message] {
    width: 100%;
    padding: 3px;
    border: 1px solid darkblue;
  }

.input-group {
    margin-bottom: 3px;
}


.row {
    margin: auto;
    margin-top: 10vh;

}

.container .card {
    min-width: 30vw; 
}

p {
    font-size: 1.2vw;
    line-height: 2;
}

.card img {
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .card-text {
        font-size: 3vw;
        /* min-height: 18vh; */
    }

    .card {
        font-size: 1em;
    }

    #myVideoCon {
        border: 1em solid white;
        border-radius: 1em;

    }
}

@media only screen and (min-width: 700px) {
    .card-text {
        min-height: 40vh;
    }

}

@keyframes mymove {
    50% {transform: rotate(180deg);}
  }

#animation {
    transition: 3s;
}

#animation:hover {
    transition: 3s;
    animation: mymove 3s;
}



footer {
    width: 100%;
    height: 5vh;
    margin-top: 5vh;
    background: darkblue;
}

