<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <link href="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/new.js' %}"></script>

    <title>Document</title>

    
</head>
<body>
    {% include 'partials/navbar.html' %}
    {% block content %}


    {% endblock %}

    <script type="text/javascript">
        function someFunc(){
            var arr = '{{day}}'.replace('[', '').replace(']','').split(", ")
            console.log(arr)
            return arr
        }

        
        $(function date () {
            $("#datepicker2").datepicker({
                changeMonth: true,
                dateFormat: "dd-mm-yy",
                
                beforeShowDay: function(d) {
                var day = d.getDay();
                console.log(day)
                var a = someFunc()
                var y = a.map(x => x)
                console.log(day == y)
                console.log(a.includes(day))
                for (let i = 0; i< a.length; i++){
                    console.log(a[i], 'asd')
                }
                return [(day != 5 && day != 6)]
                
                // a = someFunc()
                
            }
            });
        });
        </script>
</body>
</html>