{% extends 'base.html' %}
{% block content %}

<div class="f-c">
    <div class="container d-flex justify-content-center f-c">
        <div class="card" style="width: 50vw;">
            <div class="card-body">
              <h1 class="card-title">Profile for {{user.username}}</h1>
              <h2 class="card-title">Email {{user.email}}</h2>
              <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button class='btn btn-success form-control' type="submit">Save</button>
                </form>
            </div>
          </div>
    </div>
</div>
{% endblock %}