{% extends 'base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Profile for {{user.username}}</h1>
<h1>Email {{user.email}}</h1>
<form method="POST">
    {% csrf_token %} 
    {{user_form.as_p}} 
    {{profile_form.as_p}}
    <button class='btn btn-success' type="submit">Save</button> 
</form>    
<div class="container" style="min-width: 90vw;">
    
        
    
</div>
    {% endblock %}