{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}
  <link rel="icon" type="image/png" href="{% static 'images/login.png' %}"/>
  <title>{% trans 'Login' %}</title>
{% endblock %}

{% block content %}
<div class="container f-c d-flex justify-content-center" style="margin-top: 15vh">
    <div class="row">
        <div class="card login">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">{% trans 'Log in' %}</h4>
                <hr>
                <p class="text-success text-center">{% trans 'Log in to see your personal info' %}</p>
                <form method="POST">
                {% csrf_token %}
                <ul class="errorlist">
                    {% if form.non_field_errors %}
                      <li class="alert alert-danger">{{ form.non_field_errors }}</li>
                    {% endif %}
                  </ul>
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    {{form.username}}
                </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                     </div>
                    {{form.password}}
                        
                  </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <label for="box">{% trans 'show password' %}</label>
                <input name="box" type="checkbox" id="box"> 
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">{% trans 'Login' %}</button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="{% url 'password_reset' %}">{% trans 'Forgot Password?' %}</a></p>
              </form>
            </article>
            </div> <!-- card.// -->
            
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
            
            </div> 
    </div>
</div>

{% endblock %}
    
