{% extends 'base.html' %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Profile for {{user.username}}</h1>
<h3>Topic: {{user.profile.topic}}</h3>
<h3>Coins: {{user.profile.coins}}</h3>
<h3>Score: {{user.profile.score}}</h3>
<div class="container" style="min-width: 90vw;">
    
    <div class="row">
    {% for card in deck %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    {% if card.c_type == 'P' %}
                        <h5 class="card-title">Category: People</h5>
                    {% else %}
                        <h5 class="card-title">Category: Vehicles</h5>
                    {% endif %}
                    <p class="card-text">Name: {{card.name}}</p>
                    <p class="card-text">Rarity: {{card.rarity}}</p>
                    <p class="card-text">Id: {{card.id}}</p>
                </ul>
    
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Sell this Card to Store</a>
              <a href="#">asd</a>
            </div>
          </div>
      {% endfor %}
    
    </div>
</div>

{% endblock %}