
body, html {
    max-width: 100vw;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #00FFFF;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
}

.ani-con {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
    width: 100%;
}

.tree {
    width: 20%;
}

.cloud {
    height: 5vh;
    margin-top: 1vh;
}

#walk-container {
    margin-top: 0;
    position: absolute;
    height: 200px;
    width: 10em;
    left: 0;
    animation: stroll 30s linear infinite;
    /* z-index: 1; */

}
#walk-container > div {
    width: 100%;
    height: 200px;
    background-image: url("/static/images/walk-sequence.9f5940a94fdf.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

#walk-container > div {
    background-size: 800%;
}

.walk {
    animation: walkanim 1.0s infinite steps(7);
}

@keyframes walkanim {
    to { background-position: 100% 0; }
}

/* @keyframes stroll {
    from { transform: translateX(-100%); }
    to { transform: translateX(500%); }
  } */



.stand {
    height: 4em;
    background-color: white;
    width: 20%;
}

.stand-bottom {
    height: 1em;
    background-color: white;
    width: 40%;
}
.stand, .stand-bottom, #myVideoCon {
    box-shadow: 5px 10px 50px #888888;
}

#myVideoCon {
    border: 2em solid;
    border-radius: 1em;
    width: 80%;
    position: relative;
    z-index: 1;
}
/* #myVideoCon::after  {
    content: 'ביופידבק';
    position: absolute;
    top: 0;
    right: 0;

    font-size: 2em;
    color: #000;
} */
#myVideoCon::before  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 2em;
    color: #000;
    background-color: black;
    z-index: -1;
}

#myVideoCon.show::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    background-color: black;
}
video {
    width: 100%;
}

@media screen and (max-width: 600px) {

    #myVideoCon {
        border: 1em solid;
        border-radius: 1em;
        width: 80%;
    }

 

  }


.card-contact{
    background-color: #1f99c5;

}

.contact-home{
    margin-top: 10vh;
}

.container{
    height: 60vh;
    display: flex;
}


.row {
    margin: auto;
    margin-top: 10vh;

}


.container .card {
    min-width: 50vw; 
    max-height: 50vh;
}

p {
    font-size: 1.2vw;
    line-height: 2;
}

.card img {
    max-height: 100%;
    max-width: 100%;
}

@media only screen and (max-width: 600px) {
    .card-text {
        font-size: 3vw;
        min-height: 18vh;

    }
}

@media only screen and (min-width: 700px) {
    .card-text {
        min-height: 40vh;
    }

}

@keyframes mymove {
    50% {transform: rotate(180deg);}
  }

#animation {
    transition: 3s;
}

#animation:hover {
    transition: 3s;
    animation: mymove 3s;
}


.list-group {
    text-align: left;
    font-weight: 400;
}
.list-group  li{
    font-weight: bolder;
}


