{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h3>{{date}}</h3>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>

<a class="btn btn-primary" href="{% url 'calendar' %}">Cancel</a>
{% endblock %}
