{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<h1>Preferences</h1>

<h3>Working Days</h3>
<ul>
    {% for day in days %}
        {% if day.is_disabled %}
        <li>{{day.name}}<a class="btn btn-success" href="{% url 'enable_day' day.id %}">Enable</a></li>
        {% else %}
        <li>{{day.name}}<a class="btn btn-danger" href="{% url 'disable_day' day.id %}">Disable</a></li>
        {% endif %}
    {% endfor %}
</ul>

<ul>
    {% for date in disabled_dates %}
        <li>{{date.date}}<a class="btn btn-success" href="{% url 'enable_date' date.id %}">Enable</a></li>
    {% endfor %}
</ul>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">Working time</h3>
        <p class="card-text">{{message}}</p>
        <h5 class="card-title">Start time: {{start_time}}</h5>
        <h5 class="card-title">End time: {{end_time}}</h5>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Edit Working time
          </button>
    </div>
</div>

<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'working_time' %}" method="POST">
              {% csrf_token %}
              {{working_form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
</div>

<div id="datesModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'disable_dates' %}" method="POST">
              {% csrf_token %}
              {{date_form.as_p}}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#datesModal">
    Disable Date
  </button>
{% endblock %}
