{% extends 'base.html' %}

{% block content %}



<div class="f-e">
  <div class="container d-flex justify-content-center">
      <div class="card" style="width: 50vw;">
          <div class="card-body c">
            <h1 class="card-title">Preferences</h1>
            <hr>
            <h3 class="card-title">Working Days</h3>
            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <div class="alert alert-danger" role="alert">{{ message }}</div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
          
              <div>
                <ul class="list-group">
                  {% for day in days %}
                      {% if day.is_disabled %}
                      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{day.name}}</strong><a class="btn btn-success" href="{% url 'enable_day' day.id %}">Enable</a></li>
                      {% else %}
                      <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{day.name}}</strong><a class="btn btn-danger" href="{% url 'disable_day' day.id %}">Disable</a></li>
                      {% endif %}
                  {% endfor %}
              </ul>
              </div>
              <hr>
              <h3 class="card-title">Working time</h3>
              <p class="card-text">{{message}}.</p>
              <h5 class="card-title">Start time: {{start_time}}</h5>
              <h5 class="card-title">End time: {{end_time}}</h5>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Edit Working time
                </button>
                <hr>
                <h5 class="card-title">Disabled Dates</h5>
                <div>
                  <ul class="list-group ">
                    {% for date in disabled_dates %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"><strong>{{date.date}}</strong><a class="btn btn-success" href="{% url 'enable_date' date.id %}">Enable</a></li>
                    {% endfor %}
                </ul>                
                  <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#datesModal">
                    Disable Date
                  </button>
                </div>
          </div>
        </div>
  </div>
</div>


<div id="exampleModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id='working-form' action="{% url 'working_time' %}" method="POST">
              {% csrf_token %}
              {{working_form.as_p}}
            </div>
            <div id="working-form-result">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
</div>

<div id="datesModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id='date-form' action="{% url 'disable_dates' %}" method="POST">
              {% csrf_token %}
              {{date_form.as_p}}
            </div>
            <div id="date-form-result">

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
