{% extends 'base.html' %}
{% load i18n %}

{% block content %}


	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">{% trans 'Reset' %}</h2>
		<hr>
		<p>{% trans "Forgotten your password? Enter your" %} {% trans 'Email' %} {% trans "address below, and we'll email instructions for setting a new one." %}</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}                    
            <button class="btn btn-primary" type="submit">{% trans 'Send' %} {% trans 'Email' %}</button>
        </form>
  	</div> 

{% endblock %}
