<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p> {{user.first_name}} {{user.last_name}},  rejected your appointment update for: for: {{original_appointment.start_time}} , {{original_appointment.appointment_date}}<br> and requested an appointment at: {{appointment.start_time}} , {{appointment.appointment_date}}</p>
    
    <a href="{{protocol}}://{{domain}}{% url 'apt_requests' %}">Got to appointment requests</a>

</body>
</html>
