<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>{{user}}</h1>
    <p>your request for an appointment at: {{appointment.original_request.start_time}} , {{appointment.original_request.appointment_date}} is not available,<br>
        are you free at {{appointment.start_time}}, {{appointment.appointment_date}} ?
    </p>
    
    <a href="{{protocol}}://{{domain}}{% url 'apt_status_res' appointment.id 'accept' %}">Accept</a>
    <a href="{{protocol}}://{{domain}}{% url 'apt_status_res' appointment.id 'reject' %}">Ask For A Different Date</a>
</body>
</html>
