{% extends 'base.html' %}

{% block content%}

<div class="container">
    <div class="row">
        {% for appointment in appointments %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sender: {{appointment.user.user.first_name}} {{appointment.user.user.last_name}}</h5>
                <h5 class="card-title">Start time: {{appointment.start_time}}</h5>
                <h5 class="card-title">Date: {{appointment.appointment_date}}</h5>
                <h5 class="card-title">Requested on: {{appointment.timestamp}}</h5>
                <a href="#" class='btn btn-success' name='a' type="submit">Accepted</a>
            </div>
        </div>
        {% endfor %}
        {% for a in appointments_response %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Sender: {{a.user.user.first_name}} {{a.user.user.last_name}}</h5>
                <h5 class="card-title">Start time: {{a.start_time}}</h5>
                <h5 class="card-title">Date: {{a.appointment_date}}</h5>
                <h5 class="card-title">Requested on: {{a.original_request.timestamp}}</h5>
                <a href="#" class='btn btn-success' name='a' type="submit">Accepted</a>
            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}

