{% extends 'base.html' %}
{% load static %}


{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Choose a date</h5>
      <form  method="GET">
        {% csrf_token %}
        {{ filter.form.as_p }}
        <input type="submit">
      </form>
    </div>
</div>

    <div class="next-l">
        <div class="nav-c">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo First</a>
            <a href="?page={{page_obj.previous_page_number}}">&laquo Previous</a>
            {% endif %}
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">Next &raquo</a>
            <a href="?page={{page_obj.paginator.num_pages}}">Last &raquo</a>
            {% endif %}
        </div>
    </div>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>start time</th>
                <th>appointment date</th>
                <th>day</th>
                <th>First name</th>
                <th>Last name</th>
                <th>patient phone</th>
                <th>patient email</th>
                <th>options</th>
            </tr>
        </thead>
   
        {% for obj in page_obj %}
        <tr id='{{obj.appointment_date}}'>
            <td>
                {{ obj.start_time }} 
            </td> 
            <td>
                {{ obj.appointment_date }}
            </td>
            <td>
                {{obj.week_day}}
            </td>
            <td>
                {{ obj.user.user.first_name }}  
            </td>
            <td>
                {{ obj.user.user.last_name }}  
            </td>
            <td>
                {{ obj.user.phone_number }} 
            </td>
            <td>
                <button type="button" class="btn btn-link send" data-toggle="modal" data-target="#ContactModal"> {{ obj.user.user.email }}</button>
            </td>
         
            <td>
                {% if obj in filter2.qs %}
                <button id='{{obj.id}}' name="{{ obj.start_time }}" type="button" class="btn btn-success edit-appoint-res-btn-a" data-toggle="modal" data-target="#EditappointResponseModal">Edit</button>

                <a class="btn btn-danger confirm_delete" href="{% url 'delete_appointment_response' obj.id %}">cancel</a>
                {% elif obj in filter.qs %}
                <button id='{{obj.id}}' name="{{ obj.start_time }}" type="button" class="btn btn-success edit-appoint-btn-a" data-toggle="modal" data-target="#EditappointModal">Edit</button> 

                <a class="btn btn-danger confirm_delete" href="{% url 'delete_appointment' obj.id %}">cancel</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Send email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="contact-form-therapist" class="form" action="{% url 'send_contact_email' %}" method="POST"> 
            {% csrf_token %}
            {{contact_form.as_p}}
            <div id="contact-result">
            </div>            
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditappointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
            <form id="edit-appoint-form" method="POST"> 
                {% csrf_token %}
                {{edit_appoint_form.as_p}}
                <div id="edit-appoint-result">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditappointResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
            <form id="edit-appoint-form" method="POST"> 
                {% csrf_token %}
                {{edit_response_form.as_p}}
                <div id="edit-appoint-result">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>


{% endblock %}



