{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}
  <link rel="icon" type="image/png" href="{% static 'images/login.png' %}"/>
  <title>{% trans 'Patients' %}</title>
{% endblock %}

{% block content%}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="next-l">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link"  href="?page=1">&laquo {% trans 'First' %}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&laquo {% trans 'Previous' %}</a></li>
        {% endif %}
        <li class="page-item"><a  class="page-link" href="#">{% trans 'Page' %} {{page_obj.number}} {% trans 'of' %} {{page_obj.paginator.num_pages}}</a></li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">{% trans 'Next' %} &raquo</a></li>
        <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{% trans 'Last' %} &raquo</a></li>
        {% endif %}
    </ul>
</div>

    <div class="t-container container">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>{{first_name}}</th>
                    <th>{{last_name}}</th>
                    <th>{{patient_phone}}</th>
                    <th>{{patient_email}}</th>
                </tr>
            </thead>
            {% for obj in page_obj %}
            <tr>
                <td>
                    {{ obj.user.first_name }}
                </td>
                <td>
                    {{ obj.user.last_name }}
                </td>
                <td>
                    {{ obj.phone_number }}
                </td>
                <td>
                    <button type="button" class="btn btn-link send" data-toggle="modal" data-target="#ContactModal"> {{ obj.user.email }}</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Send Email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <form id="contact-form-therapist" class="form" action="{% url 'send_contact_email' %}" method="POST"> 
                {% csrf_token %}
                {{contact_form.as_p}}
                </div>
                <div id="contact-result">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

