{% extends 'base.html' %}
{% load static %}

{% block content%}
<link rel="stylesheet" href="{% static 'css/calendar.css' %}">

<form method="GET">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>


<table border="0" cellpadding="0" cellspacing="0" class="calendar table table-primary">
    {{calendar.month_name|safe}}
    {% for header in calendar.headers %}
        {{header|safe}}
    {% endfor %}
    <tbody>
        {% for week in calendar.month %}
        <tr> 
            {% for day in week %}
                <td id="{{day.day_num}}-{{day.month}}-{{day.year}}" >
                    {% if day.disabled %}
                        <span class='dis'>disabled</span>
                    {% endif %}
                    {% if day.day_num %}  
                    {{day.day_num}}     
                    {{day.holiday}}
         
                    
                    <button type="button" id="{{day.day_num}}-{{day.month}}-{{day.year}}"  class="btn btn-primary hide" data-toggle="modal" data-target="#exampleModal">
                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
                                    add comment
                                </button>
                                <button  type="button" class="btn btn-primary add-appoint" data-toggle="modal" data-target="#appointModal">
                                    add appointment
                                </button>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form id="comment-form" class='form' action="{% url 'create_comment' %}" method="POST"> 
                                    {% csrf_token %}
                                    {{comment_form.as_p}}
                                  </div>
                                  <div id="comment-result">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </form>
                              </div>
                            </div>
                        </div>
                    </div>
                      <button class='comment-list' type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentListModal{{day.day_num}}">
                      </button>
                      <div class="modal fade" id="commentListModal{{day.day_num}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Comments for {{day.day_num}}/{{day.month}}/{{day.year}}</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body"  id="comment{{day.day_num}}-{{day.month}}-{{day.year}}">
                              {% for comment in day.comments %}

                              <ul>
                                <li class="t">{{comment.title}}</li>
                                <li class="c">{{comment.content}}</li>
                                <li>
                                  <span> <a class="comment-confirm-delete" href="{% url 'delete_comment' comment.id %}">Delete comment</a>  <button id='{{comment.id}}' type="button" class="btn btn-primary edit-comment-btn" data-toggle="modal" data-target="#EditcommentModal{{comment.id}}"> edit comment </button></span>
                                </li>
                              </ul>
                              <hr>

                              {% endfor %}
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% for comment in day.comments %}
                      <div class="modal fade" id="EditcommentModal{{comment.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form id="form{{comment.id}}" class="form" action="{% url 'edit_comment' comment.id %}" method="POST"> 
                                    {% csrf_token %}
                                    {{edit_comment_form.as_p}}
                                  </div>
                                  <div id="comment-result">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="modal fade" id="appointModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <form id="appoint-form" class='form' action="{% url 'create_appoint' %}" method="POST"> 
                                    {% csrf_token %}
                                    {{appoint_form.as_p}}
                                  </div>
                                  <div id="appoint-result">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="submit" class="btn btn-primary">Save changes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  </form>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <ul>
                      {% for event in day.content %}
                      <li id="event.id">{{event.start_time}} {{event.user.user.first_name}} {{event.user.user.last_name}} {{event.user.phone_number}} <button id='{{event.id}}' type="button" class="btn btn-primary edit-appoint-btn" data-toggle="modal" data-target="#editAppointModal{{event.id}}">Edit</button></li>

  
        
                      {% endfor %}

                    </ul>
                    <form id="appoint-form" class='form' action="{% url 'create_appoint' %}" method="POST"> 
                      {% csrf_token %}
                      {{appoint_form.as_p}}
                    </form>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

