{% extends 'base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<h1>Preferences</h1>

<h3>Working Days</h3>
<ul>
    {% for day in days %}
        {% if day.is_disabled %}
        <li>{{day.name}}<a class="btn btn-success" href="{% url 'enable_day' day.id %}">Enable</a></li>
        {% else %}
        <li>{{day.name}}<a class="btn btn-danger" href="{% url 'disable_day' day.id %}">Disable</a></li>
        {% endif %}
    {% endfor %}
</ul>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h3 class="card-title">Working time</h3>
        <h5 class="card-title">Start time: {{working_time.start_time}}</h5>
        <h5 class="card-title">End time: {{working_time.end_time}}</h5>
        <a class="btn btn-success" href="{% url 'working_time' %}">Edit working time</a>
    </div>
</div>
{% endblock %}
