{% extends 'base.html' %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Past Appointments</h1>
            {% for appointment in past_appointments %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Start time: {{appointment.start_time}}</h5>
                    <h5 class="card-title">Date: {{appointment.appointment_date}}</h5>
                    <h5 class="card-title">phone: {{appointment.user.user.phone_number}}</h5>
                    <h5 class="card-title">Requested on: {{appointment.timestamp}}</h5>
                </div>
            </div>
            {% endfor %}
            {% for appointment in past_appointments_response %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Start time: {{appointment.start_time}}</h5>
                    <h5 class="card-title">Date: {{appointment.appointment_date}}</h5>
                    <h5 class="card-title">phone: {{appointment.user.phone_number}}</h5>

                    <h5 class="card-title">Requested on: {{appointment.original_request.timestamp}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            <h1>Future Appointments</h1>
            {% for appointment in future_appointments %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Start time: {{appointment.start_time}}</h5>
                    <h5 class="card-title">phone: {{appointment.user.phone_number}}</h5>

                    <h5 class="card-title">Date: {{appointment.appointment_date}}</h5>
                    <h5 class="card-title">Date: {{appointment.appointment_date.weekday}}</h5>
                    <h5 class="card-title">Requested on: {{appointment.timestamp}}</h5>
                </div>
            </div>
            {% endfor %}
            {% for appointment in future_appointments_response %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Start time: {{appointment.start_time}}</h5>
                    <h5 class="card-title">phone: {{appointment.user.phone_number}}</h5>

                    <h5 class="card-title">Date: {{appointment.appointment_date}}</h5>
                    <h5 class="card-title">Requested on: {{appointment.original_request.timestamp}}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

