{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
  <link rel="icon" type="image/png" href="{% static 'images/login.png' %}"/>
  <title>{% trans 'Contact' %}</title>
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
      <div class="alert alert-danger" role="alert">{{ message }}</div>

    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="container f-c d-flex justify-content-center contact-home" >
    <div class="card card-contact">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">{% trans 'Contact' %}</h4>
            <hr>
            <form id="contact-form-home" method="POST" action="{% url 'contact' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{field.label}}
            <div class="input-group">
                {% if field.name == 'subject' %}
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-pencil-alt"></i> </span>
                    </div>
                {% elif field.name == 'email' %}
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope-square"></i> </span>
                    </div>
                {% elif field.name == 'message' %}
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="far fa-comments"></i> </span>
                    </div>
                {% endif %}
                    {{field}}
            </div>
            {% endfor %}
            <button id="send-btn" class="btn btn-primary form-control" type="submit">{% trans 'Send' %}</button>
            </form>
        </article>
        </div> <!-- card.// -->
        
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
        
        </div> 
  </div>


{% endblock %}