{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

  <header>
    <div class="ani-con">
      <img class="tree" src="{% static 'images/tree.png' %}" alt="">
      <img class="cloud" src="{% static 'images/cloud.png' %}" alt="">
      <div id="walk-container">
      <button class="btn btn-primary" id="click">walk</button>
        <div id="man"></div>
      </div>
      <img class="tree" src="{% static 'images/tree.png' %}" alt="">

    </div>

    <div id="myVideoCon">
      <video  id="myVideo" src="{% static 'images/video.mp4' %}" type="video/mp4" autoplay muted loop>
      </video>
    </div>

    <div class="stand">
      <i class='fas fa-chevron-circle-down' style='font-size:36px; display: block;'></i>      <button id='stopButton' class="btn btn-danger">   </button>
    </div>
    <div class="stand-bottom"></div>

  </header>



    <main>
        <div class="row" id='card-size-indicator'>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" >
                  <h5 class="card-title">Interactive computer programs</h5>
                  <hr>
                  <p class="card-text">
                   The devices I use measure physiological changes in your body, such as your heart rate activity and skin changes, by using one or more sensors attached to your fingers or your ear. The sensors plug into your computer.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img class="card-img" id="animation" src="{% static 'images/biofeedback-1-570x350.jpg' %}">
                </div>
              </div>
            </div>
        </div>
        <div class="row" id='card-size-indicator'>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body" >
                  <h5 class="card-title">What is biofeedback?</h5>
                  <hr>
                  <p class="card-text">
                    Biofeedback is a technique you can use to learn to control some of your body's functions,
                    such as your heart rate. During biofeedback, you're connected to electrical sensors that help you receive information about your body.
                    This feedback helps you make subtle changes in your body, such as relaxing certain muscles, to achieve the results you want, such as reducing pain.
                    In essence, biofeedback gives you the ability to practice new ways to control your body, often to improve a health condition or physical performance.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <img class="card-img" src="{% static 'images/brain-5369195.jpg' %}">
                </div>
              </div>
            </div>
        </div>

        <div class="row card-home">
            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <img class="card-img" src="{% static 'images/mental.jpg' %}">
                  </div>
                </div>
              </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">My clinic</h5>
                  <hr>
                  <p class="card-text">
                    At My clinic, I use biofeedback to treat problems related to:
                    headaches-migraines, Irritable bowel syndrome, 
                    Asthma Breathing difficulties, Skin diseases, 
                    Stress and Anxiety Attention Deficit Hyperactivity Disorder.                  
                </p>
                </div>
              </div>
            </div>
        </div>
    </main>

{% endblock %}

<header>    
  <div id="overlay">
    <h1>Biofeedback</h1>
    <img class="computerBorder" src="{% static 'images/computer.png' %}" alt="">
    <!-- video -->
    <video src="{% static 'images/video.mp4' %}" muted loop autoplay></video>
  </div>
</header>

<div class="justify-content-center contact-home" style="position: absolute; right: 20vw;">
  <div class="card card-contact">
      <article class="card-body">
          <h4 class="card-title text-center mb-4 mt-1">Contact</h4>
          <hr>
          <form id="contact-form-home" method="POST">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
              {{field.label}}
          <div class="input-group">
              {% if field.name == 'subject' %}
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-pencil-alt"></i> </span>
                  </div>
              {% elif field.name == 'email' %}
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="fa fa-envelope-square"></i> </span>
                  </div>
              {% elif field.name == 'message' %}
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="far fa-comments"></i> </span>
                  </div>
              {% endif %}
                  {{field}}
          </div>
          {% endfor %}
          <button id="send-btn" class="btn btn-primary form-control" type="submit">Send</button>
          </form>
      </article>
      </div> <!-- card.// -->
      
          </aside> <!-- col.// -->
      </div> <!-- row.// -->
      
      </div> 
</div>