{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/new_home.css' %}">
{% endblock %}

{% block title %}
  <link rel="icon" type="image/png" href="{% static 'images/home.png' %}"/>
  <title>{% trans 'Home' %}</title>
{% endblock %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


  <header>
    <div id="top">
      <video  id="my-header-video" src="{% static 'images/waterfall2.mp4' %}" type="video/mp4" autoplay muted loop>
      </video>
    <div id="overlay">
      <h1><div><span>{% trans 'Furious?' %}</span> <span>{% trans 'Depressed?' %}</span> <span>{% trans 'Restless?' %}</span></div><div><span class="biofeedback">{% trans 'Biofeedback' %}</span> {% trans 'is your solution' %}</div></h1>
      {% if not user.is_authenticated %}<a class="badge badge-pill badge-primary sign-up-a" href="{% url 'signup' %}">{% trans 'Sign Up' %}</a>{% endif %}
    </div>
    </div>
</header>

<main>
    <div data-aos='fade-up' class="card">
        <div class="card-body">
            <img class="" src="{% static 'images/mental.jpg' %}">
        </div>
    </div>
    <div data-aos='fade-up' class="card">
        <div class="card-body">
            <h2 class="card-title">{% trans 'My clinic' %}</h2>
            <hr>
            {% trans 'At My clinic, I use biofeedback to treat problems related to:' %}
            <ul class="list-group">
                <li class="list-group-item">{% trans 'headaches-migraines' %}</li>
                <li class="list-group-item">{% trans 'Irritable bowel syndrome' %}</li>
                <li class="list-group-item">{% trans 'Asthma Breathing difficulties' %}</li>
                <li class="list-group-item">{% trans 'Skin diseases' %}</li>
                <li class="list-group-item">{% trans 'Stress and Anxiety' %}</li>
                <li class="list-group-item">{% trans 'Attention Deficit Hyperactivity Disorder' %}</li>
            </ul>
        </div>
    </div>
    <div data-aos='fade-down' class="card">
        <div class="card-body" >
            <h3 class="card-title">{% trans 'Interactive computer programs' %}</h3>
            <hr>
            <p class="card-text">
                {% trans 'The devices I use measure physiological changes in your body, such as your heart rate activity and skin changes, by using one or more sensors attached to your fingers. The sensors plug into my computer' %}.
            </p>
        </div>
    </div>
    <div data-aos='fade-up' class="card">
        <div class="card-body">
            <img class="card-img" id="animation" src="{% static 'images/biofeedback-1-570x350.jpg' %}">
        </div>
    </div>

    <div data-aos='fade-up' class="card tv" id="tv">
        <div id="con">
            <div id="walk-container">
              <button class="btn btn-primary" id="click">{% trans 'go' %}</button>
                <div id='truck' class="fas fa-truck"></div>
              </div>
          </div>
      
          <div id="myVideoCon">
            <video  id="myVideo" src="{% static 'images/video.mp4' %}" type="video/mp4" autoplay muted loop>
            </video>
          </div>
      
          <div class="stand">
            <i id="btn-hand" class="fas fa-hand-point-down" style='font-size:36px; display: block;'></i>      <button id='stopButton' class="btn btn-danger">   </button>
          </div>
          <div class="stand-bottom"></div>
    </div>


    <div data-aos='fade-down' class="card">
        <div class="card-body">
            <img class="card-img" src="{% static 'images/brain-5369195.jpg' %}">
        </div>
    </div>

    <div data-aos='fade-up' class="card">
        <div class="card-body" >
          <h3 class="card-title">{% trans 'What is biofeedback?' %}</h3>
          <hr>
          <p class="card-text">
            {% trans "Biofeedback is a technique you can use to learn to control some of your body's functions, such as your heart rate. During biofeedback, you're connected to electrical sensors that help you receive information about your body. This feedback helps you make subtle changes in your body, such as relaxing certain muscles, to achieve the results you want, such as reducing pain. In essence, biofeedback gives you the ability to practice new ways to control your body, often to improve a health condition or physical performance" %}.
          </p>
        </div>
      </div>

</main>



<footer></footer>
{% endblock %}

<section class="showcase">
  <header>
    
  </header>
  <video  id="my-header-video" src="{% static 'images/waterfall2.mp4' %}" type="video/mp4" autoplay muted loop>
</section>

<div class="row card-home">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <img class="card-img" src="{% static 'images/mental.jpg' %}">
          </div>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{% trans 'My clinic' %}</h3>
          <hr>
            {% trans 'At My clinic, I use biofeedback to treat problems related to:' %}
            <ul class="list-group">
              <li class="list-group-item">{% trans 'headaches-migraines' %}</li>
              <li class="list-group-item">{% trans 'Irritable bowel syndrome' %}</li>
              <li class="list-group-item">{% trans 'Asthma Breathing difficulties' %}</li>
              <li class="list-group-item">{% trans 'Skin diseases' %}</li>
              <li class="list-group-item">{% trans 'Stress and Anxiety' %}</li>
              <li class="list-group-item">{% trans 'Attention Deficit Hyperactivity Disorder' %}</li>
            </ul>
        </div>
      </div>
    </div>
</div>
<div class="row" id='card-size-indicator'>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" >
          <h3 class="card-title">{% trans 'Interactive computer programs' %}</h3>
          <hr>
          <p class="card-text">
            {% trans 'The devices I use measure physiological changes in your body, such as your heart rate activity and skin changes, by using one or more sensors attached to your fingers. The sensors plug into my computer' %}.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img" id="animation" src="{% static 'images/biofeedback-1-570x350.jpg' %}">
        </div>
      </div>
    </div>
</div>
<div class="row" id='card-size-indicator'>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" >
          <h3 class="card-title">{% trans 'What is biofeedback?' %}</h3>
          <hr>
          <p class="card-text">
            {% trans "Biofeedback is a technique you can use to learn to control some of your body's functions, such as your heart rate. During biofeedback, you're connected to electrical sensors that help you receive information about your body. This feedback helps you make subtle changes in your body, such as relaxing certain muscles, to achieve the results you want, such as reducing pain. In essence, biofeedback gives you the ability to practice new ways to control your body, often to improve a health condition or physical performance" %}.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img class="card-img" src="{% static 'images/brain-5369195.jpg' %}">
        </div>
      </div>
    </div>
</div>
</main>

{% block script %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}